.button {
  border-radius: 17px;
  padding: 7px 15px;
  background-color: purple;
  border: 0;
  color: white;
}

.buttonRed {
  background-color: red;
}

.buttonMargin {
  margin-left: 50px;
  display: block;
}
